* {font-family: 'Space Grotesk', sans-serif;}

body {
    background-color: #eef9d7;
    background-image:
    linear-gradient(to right, #8e8b8b1a 1px, transparent 1px),
    linear-gradient(to bottom, #8e8b8b1a 1px, transparent 1px);
    background-size: 20px 20px; 
}

.container-fluid.p-3.mb-2 {
    background-color: #84a98c; 
    color: #212529; 
    box-shadow: 0 2px 8px #3a39391a; 
    padding: 24px 32px;
}

.container {
    max-width: 900px;
    margin: 32px auto;      
    padding: 32px 40px;
    background-color: #afc4a2; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: rgb(51, 51, 51);
}
#toggle-mode {position: absolute; top: 20px;  right: 20px;  z-index: 1000; }

/****************************/
.navbar {list-style: none; display: flex;  justify-content: center; padding: 0; margin: 0;}
.navbar li {margin: 0 15px;}
.navbar a {text-decoration: none;  color: #000000; transition: color 0.3s;}
.navbar a:hover {color: #007bff; }

/****************************/
body.dark-mode {background-color: #26413c; }
body.dark-mode .container {background-color: #183a37; color: #e0e0e0;}
body.dark-mode .container-fluid.p-3.mb-2 { background-color: #143230; color: #ffffff; box-shadow: 0 2px 8px rgba(49, 47, 47, 0.1); padding: 24px 32px; }
body.dark-mode a {color: #bb86fc;}
body.dark-mode a:hover {color: #fdd629;}
body.dark-mode #toggle-mode{background-color: #ebe5e5; color:#000000}



@keyframes rotate-icon {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#icon {animation: rotate-icon 10s linear infinite;}
