* {
    font-family: 'Space Grotesk', sans-serif;
    }
body {
    background-color: rgb(135, 206, 235);  
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(173, 216, 230) ; 
    border-radius: 10px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(87, 136, 176);
    color: white;
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255); 
}
.navbar-nav .nav-link.active {
color: #007bff; }
.navbar-nav .nav-link:hover {color: #4278b1; }

h2 {
    margin-top: 20px; 
    margin-bottom: 10px;}
div {margin-bottom: 30px; }
ul {margin-bottom: 20px; }

body.light-mode {
    background-color: #F5F0CF;  
    color: rgb(56, 60, 60);  }
.container.light-mode {background-color: #A7DADA; }
.container-fluid.light-mode {background-color: #578FCA; }

body.dark-mode {
    background-color: #3674B5;  
    color: white; }
.container.dark-mode {background-color: #578FCA; }
.container-fluid.dark-mode {background-color: #3674B5;  }
.navbar-nav .nav-link.dark-mode {color: #F5F0CF; }
.navbar-nav .nav-link.light-mode {color: black;  }
.navbar-nav .nav-link:hover {color: #A7DADA; }


#toggle-mode {
    position: fixed;
    top: 20px;     
    right: 20px;   
    z-index: 1000; }